Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
.Trash/

bin/
opt/
repos/
usr
tmp

# Packaging stuff
.cpan/
.gem/
.pip/
.rvm/
.npm/

# confidentiality :)
.keepassx/
.irssi/
.pgpass
.pinlock
.serverdb.yml
.ssh/config
.ssh/config.d/hosts
.ssh/id_rsa
.ssh/known_hosts
.subversion/auth
.cvspass
.Xauthority
.serverauth.*

# crap
.CFUserTextEncoding
.cups
.gitk
.fontconfig
.ipython/
.vim/
.viminfo
.zcompdump
.zsh-update

# managed via .vim/update_bundles
.vim/bundle/
!.vim/bundle/.keep

# histories (bash, zsh, gdb, irb, less)
.*history
.lesshst
