[user]
	name = Pierre Carrier
	email = pierre@gcarrier.fr
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = geoffroy.carrier@gmail.com
[status]
	showUntrackedFiles = normal
[core]
	excludesfile = /Users/pierre/.gitignore_global
	attributesfile = ~/.gitattributes_global
[push]
	default = tracking
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	diff = auto
	interactive = auto
	branch = auto
	status = auto
[alias]
	dc = describe --contains
	fp = format-patch -k -M -N
	k = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	b = branch -v
	bu = bundle
	d = diff --patience
	ds = diff --staged --patience
	cp = cherry-pick
	dsc = describe
	nr = name-rev --name-only --refs=refs/heads/*
	nri = name-rev --refs=refs/heads/* --stdin
	ss = status -sb
	pulla = pull --all
	pusha = push --all
	dw = diff --color-words --patience
	wd = diff --word-diff --patience
	co = checkout
	cl = clone
	cm = commit -v
	st = status
	where = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
	sr = svn rebase
	sd = svn dcommit
	review = "!sh -c 'SHA=${1:-HEAD}; BRANCH=${2:-master}; if [ $SHA == $BRANCH ] ; then SHA=HEAD; fi; BASE_SHA=$(git merge-base $BRANCH $SHA); git difftool $BASE_SHA $SHA;' -"
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[github]
	user = pcarrier
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[branch]
	autosetuprebase = always
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[rebase]
	autosquash = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
	conflictstyle = diff3
[credential]
	helper = osxkeychain
[log]
	date = iso
