Applications/
Desktop/
Documents/
Downloads/
Library/*
!Library/Application Support/Sublime Text 2/Packages/User/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
.Trash/

bin/
opt/
repos/
usr
tmp

# Packaging stuff
.cpan/
.gem/
.pip/
.rvm/
.npm/

# confidentiality :)
.keepassx/
.irssi/
.pgpass
.pinlock
.serverdb.yml
.ssh/config
.ssh/config.d/hosts
.ssh/id_rsa
.ssh/known_hosts
.subversion/auth
.cvspass
.Xauthority
.serverauth.*

# crap
.rubies/
.codeintel/
.IntelliJIdea10/
.IntelliJIdea11/
.CFUserTextEncoding
.cache/
.ccache/
.cups
.dbus
.gitk
.fontconfig
.icons/
.ipython/
.local/
.macromedia/
.vim/
.viminfo
.xsession-errors
.zcompdump
.zsh-update

# histories (bash, zsh, gdb, irb, less)
.*history
.*hst
