[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[gc]
	auto = 0
[http]
	postBuffer = 209715200
[user]
	name = Pierre Carrier
	email = pierre@gcarrier.fr
[github]
	user = pcarrier
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = geoffroy.carrier@gmail.com
[status]
	showUntrackedFiles = normal
[fetch]
	prune = true
[push]
	default = current
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = true
[branch]
	autosetuprebase = always
[log]
	date = iso
[rebase]
	autosquash = true
[alias]
	bl = blame -C -C -C
	ec = config --global -e
	undo = reset HEAD~1 --mixed
	amend = commit -av --amend
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	pr = !git push & hub pull-request
	dc = describe --contains
	fp = format-patch -k -M -N
	k = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	sl = shortlog -sn
	b = branch -v
	bu = bundle
	d = diff --patience
	ds = diff --staged --patience
	cp = cherry-pick
	dsc = describe
	nr = name-rev --name-only --refs=refs/heads/*
	nri = name-rev --refs=refs/heads/* --stdin
	ss = status -sbuno
	sss = status -sb
	pulla = pull --all
	pusha = push --all
	dw = diff --color-words --patience
	wd = diff --word-diff --patience
	co = checkout
	cl = clone
	cm = commit -v
	st = status
	where = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
	sr = svn rebase
	sd = svn dcommit
	purge = !git branch --merged | grep -v '*' | xargs git branch -d

[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
[diff]
	noprefix = true
[grep]
	fullname = true
[tag]
	sort = version:refname
[tig]
	show-changes = true
	commit-order = topo
	line-graphics = utf-8
	mouse = true
	blame-options = -C -C -C
